* {
  background-color: pink;
}

/* Header edits */
.header {
  border: 5px solid black;
  border-radius: 1rem;
}

.row {
  display: flex;
}

.Primary__title {
  margin-left: 1rem;
}

.Secondary__title {
}

.phone,
.sub-text,
.icon {
  margin: 0 auto;
  margin-left: 5rem;
  text-align: center;
  align-items: center;
}

.phone {
  margin-top: 1rem;
}
.sub-text {
  padding-left: 6rem;
}
.icon {
  margin-top: 5rem;
  /* margin-right: 1rem; */
}
