* {
  background-color: #f2f2f2;
}

/* Header edits */
.header {
  border: 5px solid black;
  border-radius: 1rem;
}
.navbar {
  color: black;
}

.carousel {
  width: 98%;
  height: 50%;
  color: black;
}

.carousel-image {
  height: 100%;
  width: 100%;
  object-fit: fill;
}
